@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #FFFBF3;
}

.css-j882ge-MuiInputBase-root-MuiOutlinedInput-root{
  width: 100%;
} 

.css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 10.5px 10px !important;
}

.css-1apkmlw-MuiButtonBase-root-MuiButton-root{
  margin-top: 1rem;
  background-color: aquamarine;
  padding: 10.5px 10px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: transparent !important;
}


.primary_btn{
  background: #FFA800 !important;
  color: #000 !important;
  font-weight: bold  !important;
}

.secondary_btn{
  background: #ffebc3 !important;
  color: #000 !important;
  font-weight: bold  !important;
  width: 100%;
  margin-bottom: .5rem !important;
}